---
layout: splash
excerpt: 'State based routing for client-side web apps <br />{::nomarkdown}{:/nomarkdown}'
header:
  overlay_color: "transparent"
  cta_label: "Get Started"
  cta_url: "/about"
permalink: /
---

{% include base_path %}

<div class="about_frameworks">
  <div>
    <img src="/images/logos/angular1.png">
    <a href="/ng1/">
      <div>AngularJS</div>
      <img src="https://img.shields.io/npm/v/@uirouter/angularjs.svg?label=@uirouter/angularjs&maxAge=3600">
    </a>
  </div>
  <div>
    <a href="/ng2/">
      <img src="/images/logos/angular2.png">
      <div>Angular (2+)</div>
      <img src="https://img.shields.io/npm/v/@uirouter/angular.svg?label=@uirouter/angular&maxAge=3600">
    </a>
  </div>
  <div>
    <a href="/react/">
      <img src="/images/logos/react.png">
      <div>React</div>
      <img src="https://img.shields.io/npm/v/@uirouter/react.svg?label=@uirouter/react&maxAge=3600">
    </a>
  </div>
</div>


{% include paginator.html %}